<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="contenedorCreditos">
        <h1>Santiago Colombet</h1>
        <h1>Matias Halac</h1>
        <h1>Eitan Fridman</h1>
    </div>
</div>