
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

    <div class="container">
        <a href='@Url.Action("ContinuarJuego","Home")' class="boton_index">Seguir Jugando</a>
        <a href='@Url.Action("FinJuego","Home")' class="boton_index">Ir al Ranking</a>
    </div>
</div>
