
<div class="settings">
    <button class="settings-button" onclick="window.location.href='configuraciones.html'">Configuraciones</button>
</div>
<div class="container">
    <button onclick="window.location.href='jugar.html'">Jugar</button>
    <button onclick="window.location.href='creditos.html'">Créditos</button>
</div>
