<div class="area" >


    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="container">
    <a href='@Url.Action("Datos","Home")' class="boton_index">Jugar</a>
    <a href='@Url.Action("Creditos","Home")' class="boton_index">Creditos</a>
    </div>
</div>  
