<div class="area" >


    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="container">
    <a href='@Url.Action("Jugar","Home")' class="boton_index">Jugar</a>
    <a href='@Url.Action("Jugar","Home")' class="boton_index">Creditos</a>
    </div>
</div>
<div class="settings">
    <button href='@Url.Action("ConfigurarJuego", "Home")' class="settings-button" id="configButton">Configuración</button>
</div>
<div id="configMenu">
    <h2>Menú de Configuración</h2>
    <form id="configForm">
        <ul>
            <li>
                <input type="radio" id="facil" name="dificultad" value="facil">
                <label for="facil">Fácil</label>
            </li>
            <li>
                <input type="radio" id="medio" name="dificultad" value="medio">
                <label for="medio">Medio</label>
            </li>
            <li>
                <input type="radio" id="dificil" name="dificultad" value="dificil">
                <label for="dificil">Difícil</label>
            </li>
        </ul>
        <button type="submit" id="closeButton">Cerrar</button>
    </form>
</div>
