
<div class="area">

    <button id="spin">Spin</button>
    <span class="arrow"></span>

    <div class="ruleta">

        <div class="one">1</div>
        <div class="two">2</div>
        <div class="three">3</div>
        <div class="four">4</div>
        <div class="five">5</div>
        <div class="six">6</div>
    </div>

</div>
<script src="~/js/ruleta.js" asp-append-version="true"></script>
