
<div class="area">

    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <button id="spin">Spin</button>
    <div class="containerRuleta">
        <div class="ruleta">
            <div class="one">Cultura general</div>
            <div class="two">Geografia</div>
            <div class="three">Deportes</div>
            <div class="four">Argentina</div>
            <div class="five">Tecnologia</div>
            <div class="six">Ciencia</div>
        </div>
    </div>

</div>
<script src="~/js/ruleta.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

