<div class="area" >


    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

    <div id="spin_the_wheel">
        <canvas id="wheel" width="800" height="800"></canvas>
        <div id="spin">GIRAR</div>
    </div>
</div>

<script defer src="src/index.js"></script>
<script  src="~/js/ruleta.js" asp-append-version="true"></script>
<script  src="~/js/site.js" asp-append-version="true"></script>

