
<div class="question-container">
    <div class="question-box">
        <h2>@Model.Preguntas.Enunciado</h2>
    </div>

    <div class="answers-container">
        @foreach (string respuesta in Respuestas.Opcion)
        {
            <div class="answer-box">
                <p>@Respuestas.Opcion</p>
            </div>
        }
    </div>
</div>
