/*                                    INDEX                              */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; 
  z-index: 10; 
  height: 100%; 
}

.boton_index {
  width: 200px; 
  padding: 15px 30px;
  margin: 10px;
  z-index: 10;
}
a {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s ease;
  list-style: none;
  text-decoration: none;
}
a:hover {
  background-color: #0056b3;
  color: rgb(228, 215, 215);
}
/*                                    CONFIGURACION                              */

.settings-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
}
.settings-button:hover {
  background-color: #218838;
}
#configButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}
#configButton:hover {
  background-color: #45a049;
}
#configMenu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 450px;
  height: 300px;
  max-width: 90%;
  z-index: 1000;
}
#configMenu h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
}
#configMenu ul {
  list-style-type: none;
  padding: 0;
}
#configMenu li {
  margin-bottom: 15px;
}
#configMenu label {
  display: flex;
  align-items: center;
  color: #555;
  font-size: 16px;
  cursor: pointer;
}
#configMenu input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
#configMenu input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
  font-size: 14px;
}
#closeButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  margin-top: 20px;
}
#closeButton:hover {
  background-color: #d32f2f;
}
/*                                    FORM                              */
ul {
  list-style-type: none;
  padding: 0;
}
li {  
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 10px;
}


/* --------------------------------------- JUGAR --------------------------------------- */


.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area {
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height: 100vh;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


.ruleta{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.ruleta div{
	height:50%;
	width:272px;
	position: absolute;
	clip-path: polygon(100% 0% , 50% 100% , 0% 0% );
	transform:translateX(-50%);
	transform-origin: bottom center;
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:100px;
  bottom: 50%;
}

.ruleta .one{
	background-color: #3f51b5;
	left:49%;
}
.ruleta .two{
	background-color: #ff9800;
	transform: rotate(60deg);
  
}
.ruleta .three{
	background-color: #e91e63;
	transform:rotate(120deg);
}
.ruleta .four{
	background-color: #4caf50;
	transform: rotate(180deg);
}
.ruleta .five{
	background-color: #009688;
	transform: rotate(240deg);
}
.ruleta .six{
	background-color: #795548;
	transform: rotate(300deg);
}


.arrow::before{
  position: absolute;
	top: 20%;
	left:48%;
	content:"\1F817";
	font-size:100px;
  color:#dde;
  z-index: 1000;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
  z-index: 1;
	transform:translate(-50%,-50%);
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}